*{
    margin: 0;
}

/*Estilo enlaces de barra de navegaciones*/
.enlaces{
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: brown;
}


/*-----------------------------------**/
/* CONTENEDOR/ARTICLE/ SECTION*/

.contenedor{
    box-sizing: border-box;
    width: 100%;
    /* height: 850px; */
    padding: 0 0px 5px 0px;
    background-color: rgb(94, 72, 42);
}
/*------------------*/

.contenedor h2{
    color:rgb(214, 214, 208);
    padding-left: 70px;
    padding-top: 15px;
    font-family: roboto mono;
}

/*--Imagen y cuadros de información--*/
.mision{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    /* height: 250px; */
    margin-top: 20px;
    padding: 20px 5% 5px 5%;
    justify-content: space-between;
    font-family: roboto slap;
}
.gif-cafe{
    display: flex;
    float: left;
    justify-content: center;
    flex-wrap: wrap;
}
.gif-cafe>img{
    width: 75%;
    height: 50%;
    padding: 5px;
    border-radius: 5px;
}
.nuestra-mision{
    width: 85%;
    text-align: left;
    padding: 0;
    color: rgb(214, 203, 203);
    font-size: 15px;
    font-family: "roboto slab";
}

.valores{
    padding-left: 50px;
    padding-top: 50px;
    color: rgb(214, 203, 203);
    font-family: "roboto slab";
}
.trabaja{
    padding-left: 50px;
    padding-top: 20px;
    color: rgb(214, 203, 203);
    font-family: "roboto slab";

}
/*Pie de página*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Medidas para pantallas pequeñas / celulares */
@media (min-width: 300px) and (max-width: 767px) {
    .contenedor{
        height: fit-content;
    }
    .container{
        height: fit-content;
    }
    .gif-cafe{
        max-width:fit-content;
    }
    .valores{
        padding-left: 0;
        padding-top: 50px;
        color: rgb(214, 203, 203);
        font-family: "roboto slab", "Helvetica Neue";
    }
    .trabaja{
        padding-left: 0;
        padding-top: 20px;
        color: rgb(214, 203, 203);
        font-family: "roboto slab", "Helvetica Neue";

    }
    .contenedor h2{
        padding-left: 0;
    }
}
/* Escritorio pequeño / tablet */
@media(min-width: 768px) and (max-width: 991px){
.contenedo, container{
    height: fit-content;
}
}
