*{
    margin: 0;
}
body {
    box-sizing: border-box;
    width: auto;
}
/*---  barra de navegación  -----*/
.enlaces{
    gap: 1em;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: brown;
}

/* ---- CONTENEDOR / ARTICLE / SECTION --- */
.contenedor{
    width: 100%;
    background-color: rgb(94, 72, 42);
    font-family: roboto mono;
    padding-bottom: 10px;
}
/***----  SECCION UBICACION  -------***/
.seccion-ubicacion{
    width: 100%;
    height: auto;
    padding: 10px;
}
/*----------------------*/

.contenedor h2{
    color:rgb(214, 214, 208);
    padding-left: 50px;
    padding-top: 10px;
}
/*----------------------------*/
/* direcion*/
.direccion {
    box-sizing: border-box;
    width: 45%;
    color: rgb(255, 255, 255);
    font-family: roboto slab;
    padding-right: 20px;
    float: left;
    transition:all 1s ease-in 0.5s;
}
.subtitulos{
    margin: 5px;
    text-align: left;
}
.direccion h2{
    font-size: 20px;
    margin-bottom: 2px;
}
.direccion p{
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 0;
    font-size: 17px;
}

/**--- Ubicacion en mapa ---*/
.ubicacion{
    width: 55%;
    height: 440px;
    float: right;
    transition:all 1s ease-in 0.5s;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.ubicacion> iframe {
    width: 95%;
    height: 428px;
    transition:all 1s ease-in 0.5s;
}

/*---- Seccion formulario de mensajes ----*/
.mensaje-experiencia {
    display: grid;
    width: 70%;
    margin: auto;
    color: white;
    padding: 20px;
    border-radius: 5px;
    transition:all 0.8s ease-in 0.5s;
}
.mensaje-experiencia:hover{
    background-color: #2f2412;
    color: rgb(194, 189, 189);
    transition:all 0.8s ease-in 0.3s;
}
.mensaje-experiencia h3{
    text-align: center;
    margin: 0px 0 12px 0;
    font-weight: 500;
}
.mensaje-experiencia label{
    font-size: 20px;
}
input, textarea{
    border: #705744 2px solid !important;
}
input[type="submit"] {
    width: 100%;
    background-color: #181818;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/*---- Pie de pagina ----*/
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}
/*////////////---------------///////////////*/
/* Medidas para pantallas pequeñas / celulares */
@media (max-width: 575px){
    .direccion{
        width: 90%;
        margin: 2px auto;
        margin-left: 5%;
        text-align: center;
    }
    .subtitulos{
        margin: 0;
        margin-bottom: 7px;
    }
    .direccion p{
        margin: 0;
    }
    .direccion:hover{
        transform: translate(0,-3px);
    }
    /*----------------------------*/
    .ubicacion{
        width: 100%;
    }
    .ubicacion>iframe{
        width: 96%;
        height: 440px;
    }
    /*----------------------------*/
    .mensaje-experiencia{
        width: 98%;
        padding: 12px;
    }
    footer{
        padding: 0 10px 10px 10px;
        font-size: 14px;
    }
}
/* Comprimidos y phablets */
@media(min-width: 576px) and (max-width: 767px){
    .direccion{
        width: 90%;
        margin: 2px auto;
        margin-left: 5%;
        text-align: center;
    }
    .subtitulos{
        margin: 0;
        margin-bottom: 5px;
    }
    .direccion p{
        margin: 0;
    }
    .direccion:hover{
        transform:  translate(0px, -7px)
    }
    /*-------*/
    .ubicacion{
        width: 100%;
        margin-top: 15px;
    }
    .ubicacion>iframe{
        width: 96%;
        height: 445px;
    }
    .mensaje-experiencia{
        width: 100%;
    }
}
/* Escritorio pequeño / tablet */
@media(min-width: 768px) and (max-width: 991px){
    .direccion{
        width: 90%;
        margin: 2px auto;
        margin-left: 5%;
        text-align: center;
    }
    .subtitulos{
        margin: 0;
        margin-bottom: 6px;
    }
    .direccion p{
        margin: 0;
    }
    .direccion:hover{
        transform:  translate(0px, -5px)
    }
    /*-------*/
    .ubicacion{
        width: 100%;
        margin-top: 20px;
    }
    .ubicacion>iframe{
        width: 96%;
        height: 440px;
    }
    .mensaje-experiencia{
        width: 100%;
    }
}
/* Escritorio Grande / mediano */
@media(min-width: 992px) and (max-width:1199px){
    .direccion{
        margin-top: 20px;
        text-align: center;
    }
    .subtitulos{
        margin: 0;
        margin-bottom: 4px;
    }
    .direccion p{
        margin: 0;
    }
}