.enlaces{
    gap: 1em;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(0, 0, 0);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: brown;
}
/*--- Sección inicio / saludo ---*/
.inicio{
    height: 310px;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-image: url("../imagenes/inicio.jpg");
    background-size: 100%;
}
.saludo{
    width: 450px;
    height: 200px;
    background-color: rgba(50, 49, 49, 0.452);
    color:rgb(214, 214, 208);
    padding: 10px;
    margin-left: 10%;
    text-align: center;
    font-family: "roboto mono", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.saludo h3{
    font-family: "roboto mono";
}
.saludo p{
    font-size: 16px;
}
/*---- Sección Carta / Carrusel ---*/
.carta-boton{
    background-color: rgb(94, 72, 42);
    padding-top: 1%;
    padding-bottom: 0.3%;
}
.container-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.button {
    width: 20%;
    height: 30px;
    background-color: #0a2e38;
    color: #F2EFEA;
    font-family: roboto slap;
    transition: all ease-in-out .3s;
    text-align: center;
}
.button:hover {
    background-color: #003b4ac2;
}
/*-------------------------------*/
.carta-carrusel{
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    background-color: rgb(94, 72, 42);
    height: 360px;
}
/*----- Sección Nosotros ---*/
.nosotros{
    background-color: rgb(94, 72, 42);
    display: flex;
    align-items: center;
}   
.nosotros-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin: 15px;
}
.nosotros-texto{
    width: 78%;
    padding-right: 50px;
    color: bisque;
}
.nosotros-texto h3 a{
    color: rgb(214, 214, 208);
    text-align: left;
    font-family: roboto slab;
    text-decoration: none;
    font-size: 20px;
}
.nosotros-texto a:hover{
    text-decoration: overline underline;
}
/*---- Pie de pagina -----*/
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}
/*/small devices (tablets, phones) */
@media (max-width: 576px){
    .inicio{
        height: auto;
    }
    .saludo{
        height: 180px;
        margin: 10px;
    }
    .saludo p{
        color:rgb(216, 211, 204);
        font-size: 13px;
    }
}
    
@media (min-width: 768px) {
    
}
@media (max-width: 992px) {
    .row{
        width: 100%;
    }
    .carousel-inner {
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
